<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       ">

	<bean id="tunnelController"
	    class="au.org.intersect.dms.webtunnel.TunnelController" />

	<bean id="privAgent" class="au.org.intersect.dms.encrypt.impl.PrivateDecryptAgent">
	    <constructor-arg value="${dms.tunnel.key.filename}" />
	</bean>

	<bean id="privApplet" class="au.org.intersect.dms.encrypt.impl.PrivateDecryptAgent">
		<constructor-arg value="${dms.tunnel.appletKey.filename}" />
	</bean>

        <bean id="testJobListener" class="au.org.intersect.dms.wn.main.TestJobListener" />

</beans>
