<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            ">
    
    <bean id="repository" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="au.org.intersect.dms.catalogue.MetadataRepository" />
    </bean>
    
    <bean id="bookingGateway" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="au.org.intersect.dms.bookinggw.BookingGatewayInterface" />
    </bean>
    
    <bean id="emailBuilder" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="au.org.intersect.dms.email.ReminderEmailBuilder" />
    </bean>
    
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp://localhost"/>
    </bean>
	
    <bean id="emailReminder" class="au.org.intersect.dms.email.ReminderEmailSender">
        <property name="fromEmail" value="dms.test@intersesct.org.au"/>
        <property name="subject" value="Test subject"/>
    </bean>
    
</beans>
